@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,600;1,100;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #110026;
    &::before {
        content: '';
        position: absolute;
        bottom: -40%;
        left: 70%;
        width: 500px;
        height: 500px;
        background: linear-gradient(#4285F4, #53C3C3);
        border-radius: 50%;
    }
}