@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,600;1,100;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow: hidden;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #1c1c25;
}

section::before {
  content: '';
  position: absolute;
  bottom: -40%;
  left: 40%;
  width: 600px;
  height: 600px;
  background: -webkit-gradient(linear, left top, left bottom, from(#4285F4), to(#42F4F4));
  background: linear-gradient(#4285F4, #42F4F4);
  border-radius: 50%;
}

.card {
  position: relative;
  width: 508px;
  height: 314px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  z-index: 1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card .front::before {
  content: '';
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  background: #FFB600;
  border-radius: 50%;
  z-index: 1;
}

.card .front::after {
  content: '';
  position: absolute;
  bottom: 40px;
  right: 80px;
  width: 60px;
  height: 60px;
  background: #FF4F38;
  border-radius: 50%;
}

.card .front .debit {
  position: absolute;
  left: 40px;
  top: 30px;
  color: #fff;
  font-weight: 500;
}

.card .front .bank {
  position: absolute;
  right: 40px;
  top: 25px;
  color: #fff;
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
}

.card .front .chip {
  position: absolute;
  top: 20%;
  left: -2%;
  width: 30%;
}

.card .front .number {
  position: absolute;
  border: top;
  top: 75%;
  left: 6%;
  color: F1F1F1;
  color: #F1F1F1;
  font-size: 32px;
  font-weight: 500;
}

.card .front .name {
  position: absolute;
  border: top;
  top: 65%;
  left: 6%;
  color: F1F1F1;
  color: #F1F1F1;
  font-size: 20px;
  text-transform: uppercase;
}

.card .front .valid {
  position: absolute;
  border: top;
  top: 65%;
  left: 58%;
  color: F1F1F1;
  color: #F1F1F1;
  font-size: 20px;
  text-transform: uppercase;
}

.card .back .blackbar {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 60px;
  background: #000;
}

.card .back .ccvtext {
  position: absolute;
  top: 120px;
  left: 30px;
}

.card .back .ccvtext h5 {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card .back .ccvtext .whiteBar {
  position: relative;
  width: 400px;
  height: 40px;
  background: #fff;
  margin-top: 5px;
}

.card .back .ccvtext .ccv {
  position: relative;
  top: -40px;
  left: 395px;
  background: #ccc;
  margin-top: 5px;
  color: #111;
  width: 50px;
  height: 30px;
  letter-spacing: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .back .text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  color: #fff;
  font-size: 10px;
  line-height: 1.4em;
  font-weight: 300;
}

.card:hover .face.front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card .face.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .face.back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
/*# sourceMappingURL=style.css.map */